alabaster==0.7.10
asn1crypto==0.22.0
astroid==1.4.9
astropy==1.3.2
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.5
boto==2.46.1
Bottleneck==1.2.1
cffi==1.10.0
chardet==3.0.3
click==6.7
cloudpickle==0.2.2
colorama==0.3.9
Flask==0.12.2
Flask-Cors==3.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
jsonschema==2.6.0
nose==1.3.7
notebook==5.0.0
numpy==1.12.1
psycopg2==2.7.4
py==1.4.33
python-dateutil==2.6.0
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
SQLAlchemy==1.1.9
statsmodels==0.8.0
unicodecsv==0.14.1
